body {
  font-family: 'Langar', cursive;
  box-sizing: border-box;
}
body  {
  background-image: url("bg.jpg");
  background-color: #cccccc;
}
h1{
  font-weight: 400;
  color: white;
}
h2{
  text-align: center;
  border-bottom: 1px solid royalblue;
  color: white;
}

.navbar {
  overflow: hidden;
  background-image: linear-gradient(to right,rgb(236, 112, 99),  rgb(245, 183, 177));
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-image: linear-gradient(to right,rgb(0, 191, 255),rgb(0, 128, 255));
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

button {
  background-image: linear-gradient(to right,rgb(236, 112, 99),  rgb(245, 183, 177));
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.signup,
.signin {
  max-width: 600px;
  margin: auto;
}
/* Images Gallery */

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid royalblue;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
}
/* Table */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

td, th {
  border: 1px solid royalblue;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color:rgb(245, 183, 177);
}